:root {
  --main-color: rgb(45, 162, 172);
  --secondary-color: rgb(255, 139, 64);
  --font-color: whitesmoke;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
}
.hero h2 {
  font-family: var(--default-font);
  color: var(--font-color);
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
}

.hero h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 25px;
}

.hero p {
  font-family: (--default-font);
  font-weight: 400;
  font-size: 24px;
}
.hero {
  text-align: center;
  background-color: var(--main-color);
  padding: 176px;
  color: var(--font-color);
}

.btn-contact {
  background-color: var(--secondary-color);
  color: var(--font-color);
  text-decoration: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.btn-contact:hover {
  text-decoration: none;
  background-color: var(--font-color);
  color: var(--secondary-color);
}

.introducing-projects {
  font-size: 18px;
}

.project-images {
  width: 400px;
}

.project-description {
  padding: 0px 30px;
}

.btn-project {
  background-color: var(--secondary-color);
  color: var(--font-color);
  padding: 15px 25px;
  text-decoration: none;
}
.btn-project:hover {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--font-color);
}

@media (max-width: 900px) {
  .project-description {
    text-align: center;
    padding: 10px;
  }

  .hero {
    padding: 50px;
  }
  .hero h1 {
    font-size: 35px;
  }
  .hero h2 {
    font-size: 30px;
    line-height: 1.5;
  }
}
