:root {
  --main-color: rgb(45, 162, 172);
  --secondary-color: rgb(255, 139, 64);
  --back-color: whitesmoke;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
}

nav h3 a {
  color: var(--secondary-color);
}

nav h3 a:hover {
  color: var(--main-color);
}

footer {
  padding: 30px;
}

.hero h2 {
  font-family: var(--default-font);
  color: var (var(--back-color));
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
}

.hero h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 25px;
}

.hero p {
  font-family: (--default-font);
  font-weight: 400;
  font-size: 24px;
}
.hero {
  text-align: center;
  background-color: var(--main-color);
  padding: 176px;
  color: var(--back-color);
}

.btn-contact {
  background-color: var(--secondary-color);
  color: var(--back-color);
  text-decoration: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.btn-contact:hover {
  text-decoration: none;
  background-color: var(--back-color);
  color: var(--secondary-color);
}

.introducing-projects {
  font-size: 18px;
}

.project-images {
  width: 400px;
}

.project-description {
  padding: 0px 30px;
}

.btn-project {
  background-color: var(--secondary-color);
  color: var(--back-color);
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 4px;
}
.btn-project:hover {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--back-color);
}

.about-section {
  padding: 60px;
}
.about-section h1 {
  font-size: 60px;
  font-family: var(--heading-font);
}

.about-section h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.about-section p {
  font-size: 16px;
  line-height: 30px;
}

.my-photo {
  width: 450px;
  border-radius: 4px;
}

.page-title {
  font-size: 60px;
  font-family: var(--heading-font);
  text-align: center;
  background-color: var(--main-color);
  padding: 100px;
  margin: 0 40px 40px 40px;
  color: var(--back-color);
  border-radius: 4px;
}

.coding-description {
  font-size: 14px;
}

.work-images {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.link-pages {
  color: #272142;
}

.link-pages:hover,
.active {
  color: var(--main-color);
}

.container-contact {
  background-color: var(--back-color);
  padding: 30px;
  color: var(--main-color);
  border-radius: 4px;
}

.social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 20px;
  color: var(--back-color);
  background-color: var(--main-color);
  border-radius: 50%;
}

.social-links a:hover {
  color: var(--main-color);
  background-color: var(--back-color);
}

.mail-me {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.mail-me:hover {
  color: var(--secondary-color);
}

.contact-links {
  text-decoration: none;
  color: var(--main-color);
}
.contact-links:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-section {
  text-align: center;
  background-color: var(--back-color);
  padding: 50px 20px;
  border-radius: 6px;
}

.footer-contact-page {
  margin-top: 100px;
}

.link-projects {
  transition: all 150ms ease-in-out;
}

.link-projects:hover {
  background-color: var(--back-color);
  padding: 30px;
  border-radius: 4px;
}

.page-title-contact {
  font-size: 60px;
  font-family: var(--heading-font);
  padding: 40px;
  text-align: center;
}
@media (max-width: 900px) {
  .project-description {
    text-align: center;
    padding: 10px;
  }

  .hero {
    padding: 50px;
  }
  .hero h1 {
    font-size: 35px;
  }
  .hero h2 {
    font-size: 30px;
    line-height: 1.5;
  }

  .about-section h1 {
    font-size: 40px;
  }

  .page-title {
    font-size: 25px;
    padding: 20px;
    margin: 0px;
  }

  .projects-section {
    padding: 50px;
  }

  .projects-section h3 {
    font-size: 17px;
  }
  .coding-description {
    font-size: 12px;
  }
  nav h3 a,
  .link-pages {
    font-size: 14px;
  }
  .mail-me {
    font-size: 14px;
  }

  .link-projects:hover {
    padding: 10px;
  }

  .page-title-contact {
    font-size: 30px;
    padding: 5px;
  }
  .footer-contact-page {
    margin-top: 15px;
  }
}

@media (max-width: 995px) {
  .about-section {
    padding: 50px;
    text-align: center;
  }

  .my-photo {
    padding-top: 30px;
  }
}
@media (max-width: 1200px) {
  .contact-section {
    margin: 40px 0px;
    padding: 10px;
    font-size: 14px;
  }
}
