:root {
  --main-color: #7bbfb1;
  --secondary-color:#256e5e;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

h2 {
  font-family: var(--default-font);
  margin-top: 20px;
  font-size: 36px;
  font-weight: 700;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 96px;
    margin-bottom: 25px;
}

p{
    font-family: (--default-font);
    font-weight: 400;
    font-size: 24px;
}
.hero {
  text-align: center;
  background-color: rgba(123, 191, 177, 0.3);
  padding: 176px;
}

.btn-contact {
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size:18px;
    border-radius: 4px;
    transition: all 200ms ease-in-out;
}

.btn-contact:hover {
    text-decoration: none;
    background-color: white;
    color:var(--secondary-color);

}